/**
 * Global styles
 */

* {
  box-sizing: border-box;
}

h2 {
  font-weight: 500;
}

p, h1, h2, h3, h4, h5, h6,
.text, .joyride-tooltip__main {
  font-family: Roboto, sans-serif;
}


/* ---- Blockly  ----- */

.flocs-blockly {
  height: 100%;
}

.blocklySvg {
  background-color: #37474F;
}

.blocklyFlyoutBackground {
  fill: #263238;
}

.blocklyScrollbarHandle {
  fill: #37474F;
}

.blocklyScrollbarBackground:hover+.blocklyScrollbarHandle,
.blocklyScrollbarHandle:hover {
  fill: #455A64;
}
